Repository WFCD/warframe-worldstate-data: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, npm test, npx sort-package-json, npm dedupe, prettier --write, node tools/sortLanguages.js -c

.lintstagedrc.yml:

'*.js,!tools/*':
  - eslint --cache --fix
  - npm test
'tools/*.js':
  - eslint --cache --fix
package*.json:
  - npx sort-package-json
  - npm dedupe
'*.{yml,json,yaml},!package*.json':
  - prettier --write
'data/languages.json':
  - node tools/sortLanguages.js -c

fix(%two_letters_code%): new translations in missiontypes.json
  data/ko/missionTypes.json
Due: none

fix(%two_letters_code%): new translations in missiontypes.json
  data/ru/missionTypes.json
Due: none

fix(%two_letters_code%): new translations in missiontypes.json
  data/pt/missionTypes.json
Due: none

fix(%two_letters_code%): new translations in missiontypes.json
  data/sr/missionTypes.json
Due: none

fix(%two_letters_code%): new translations in missiontypes.json
  data/tr/missionTypes.json
Due: none

fix: new crowdin updates (#632)
  data/cs/missionTypes.json
  data/de/missionTypes.json
  data/es/missionTypes.json
  data/fr/missionTypes.json
  data/it/missionTypes.json
  data/ko/missionTypes.json
  data/pl/missionTypes.json
  data/pt/missionTypes.json
  data/ru/missionTypes.json
  data/sr/missionTypes.json
  data/tr/missionTypes.json
  data/uk/languages.json
  data/uk/missionTypes.json
  data/zh/missionTypes.json
Due: none

Notes added by 'git notes add'
  9fc72988d5d9a964aa322cf2e89001b6b91644c5
Due: none

chore: fix test
  .mocharc.yml
  exports.ts
  package-lock.json
  package.json
  safeImport.ts
  test/exports.spec.ts
  test/setup.ts
  test/synthTargets.spec.ts
  test/utilities/integrity.spec.ts
  test/utilities/timedate.spec.ts
  test/utilities/translation.spec.ts
  test/utilities/utilities.spec.ts
  tools/integrity.ts
  tools/sortLanguages.ts
  tools/timeDate.ts
  tools/translation.ts
  tsconfig.json
  tsdown.config.ts
Due: npx sort-package-json, npm dedupe

feat: typescript migration
  .eslintrc.yml
  .mocharc.yml
  data/synthTargets.json
  exports.js
  exports.ts
  package-lock.json
  package.json
  safeImport.ts
  test/arcanes.spec.ts
  test/archonShards.spec.ts
  test/conclaveData.spec.ts
  test/eventsData.spec.ts
  test/exports.spec.ts
  test/factionsData.spec.ts
  test/fissureModifiers.spec.ts
  test/languages.spec.ts
  test/missionTypes.spec.ts
  test/operationTypes.spec.ts
  test/persistentEnemyData.spec.ts
  test/solNodes.spec.ts
  test/sortieData.spec.ts
  test/syndicatesData.spec.ts
  test/synthTargets.spec.ts
  test/tutorials.spec.ts
  test/upgradeTypes.spec.ts
  test/utilities/integrity.spec.js
  test/utilities/integrity.spec.ts
  test/utilities/timedate.spec.ts
  test/utilities/translation.spec.ts
  test/utilities/utilities.spec.ts
  tools/integrity.ts
  tools/sortLanguages.ts
  tools/timeDate.ts
  tools/translation.ts
  tools/utilities.js
  tools/utilities.ts
  tsconfig.json
  types.ts
Due: eslint --cache --fix, npx sort-package-json, npm dedupe

chore: quick biome test
  .eslintignore
  .eslintrc.yml
  .vscode/settings.json
  biome.json
  package-lock.json
  package.json
  test/arcanes.spec.ts
  test/exports.spec.ts
  test/utilities/utilities.spec.ts
  tools/sortLanguages.ts
  tools/translation.ts
Due: npx sort-package-json, npm dedupe

chore: tabs to spaces
  biome.json
Due: none

chore: reorderd deps and exports
  package-lock.json
  package.json
Due: npx sort-package-json, npm dedupe

feat: add `Operation: Eight Claw` strings
  data/languages.json
Due: node tools/sortLanguages.js -c

feat: add `Operation: Eight Claw` strings (#653)
  data/languages.json
Due: node tools/sortLanguages.js -c

Notes added by 'git notes add'
  8682c1e513c322dd55c49e6de05acc6a41b275a0
Due: none

chore: change export extension from `ts` to `js`
  package.json
Due: npx sort-package-json, npm dedupe

chore: ignore dist folder
  .gitignore
Due: none

ci: add a bundle build step before release
  .github/workflows/release.yaml
Due: none

chore: cleanup lint config to use recommend (and rules that work for this project specfically)
  biome.json
  tools/sortLanguages.ts
Due: none

fix(%two_letters_code%): new translations in languages.json
  data/fr/languages.json
Due: none

fix(%two_letters_code%): new translations in languages.json
  data/es/languages.json
Due: none

fix(%two_letters_code%): new translations in languages.json
  data/cs/languages.json
Due: none

fix(%two_letters_code%): new translations in languages.json
  data/de/languages.json
Due: none

fix(%two_letters_code%): new translations in languages.json
  data/it/languages.json
Due: none

fix(%two_letters_code%): new translations in languages.json
  data/ko/languages.json
Due: none

fix(%two_letters_code%): new translations in languages.json
  data/pl/languages.json
Due: none

fix(%two_letters_code%): new translations in languages.json
  data/ru/languages.json
Due: none

fix(%two_letters_code%): new translations in languages.json
  data/tr/languages.json
Due: none

fix(%two_letters_code%): new translations in languages.json
  data/uk/languages.json
Due: none

fix(%two_letters_code%): new translations in languages.json
  data/zh/languages.json
Due: none

fix(%two_letters_code%): new translations in languages.json
  data/pt/languages.json
Due: none

fix(%two_letters_code%): new translations in languages.json
  data/sr/languages.json
Due: none
